---
import { Image, Picture } from "astro:assets";
import heroImg from "./assets/cleanService.jpg";
import CtaButton from "../../shared/CtaButton.astro";
import GradiantText from "../../shared/GradiantText.astro";
import SubTitle from "../../shared/SubTitle.astro";
import Title from "../../shared/Title.astro";
import LazyImage from "../../shared/LazyImage.astro";

const heroSection = {
  headline1: "Transforming",
  headline2: "Spaces,",
  headline3: "Sparkling",
  headline4: "Clean!",
  subheading1: "Expert cleaning services for homes and businesses.",
  subheading2: "Reliable, affordable, and always spotless.",
  subheading3: "Let us do the cleaning — so you don’t have to.",
  buttonText: "Get a Free Quote!",
  backgroundImage: "hero-background-image.jpg",
};

export interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<section class=`relative  ${className} w-full h-[80vh]` id="hero">
  <div class="w-full h-[80vh] pt-[100px]">
    <div
      class="w-full h-full grid grid-cols-1 md:grid-cols-2 justify-end bg-base-100 dark:bg-base-dark-900"
    >
      <div class="justify-center flex flex-col text-center md:ml-auto">
        <Title className="">
          {heroSection.headline1}
          <GradiantText
            >{" " + heroSection.headline2}
            <br />
            {" " + heroSection.headline3}
          </GradiantText>{heroSection.headline4}
        </Title>
        <SubTitle className=" mt-10 leading-9 italic">
          {heroSection.subheading1}
          <br />
          {heroSection.subheading2}<br />
          {heroSection.subheading3}
        </SubTitle>
        <div class="pt-10">
        <a
          href="https://wa.me/17043109302?text=Hello,%20I'm%20interested%20in%20your%20cleaning%20services.%20I%20would%20like%20to%20know%20the%20prices%20and%20available%20days."
          target="_blank"
          rel="noopener noreferrer"
        >
          <CtaButton>{heroSection.buttonText}</CtaButton>
        </a>
        </div>
      </div>
      <div class="flex relative pt-10 md:p-0">
        <LazyImage
          src={heroImg}
          alt="A picture of a wind turbine."
          className="w-auto h-full object-cover"
        />
        <svg
          class="fill-base-100 dark:fill-base-dark-900 z-10 absolute top-0 start-0 h-full hidden md:block"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 500 400"
        >
          <path d="M0 0l0 400L100 0Z"> </path>
        </svg>
      </div>
    </div>
  </div>
</section>
